<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Create Booking</title>
</head>
<body>
<h3>Create Booking</h3>
<!--<form th:action="@{/customers/{id}/booking/create(id=${customer.id})}" th:object="${booking}" method="post">-->
<form th:action="@{/bookings/create/{id}(id=${customer.id})}" method="post">
<label>Check-in Date:</label><br>
  <input type="date" name="startDate" th:value="${startDate}" required><br><br>

  <label>Check-out Date:</label><br>
  <input type="date" name="endDate" th:value="${endDate}" required><br><br>

  <button type="submit">Create Booking</button>
</form>

<br>

</body>
</html>

</body>
</html>