<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookings</title>
</head>
<body>

<h2 th:text="${bookingTitle}"></h2>
<div class="allBookings" th:unless="${#lists.isEmpty(allBookings)}">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th th:text="${id}"></th>
            <th th:text="${start}"></th>
            <th th:text="${end}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${allBookings}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.startDate}"></td>
            <td th:text="${book.endDate}"></td>
            <td><a th:href="@{/bookings/deleteById/{id}(id=${book.id})}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>