
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customers</title>
</head>
<body>
<h2 th:text="${customerTitle}">Customers</h2>

<table>
    <tr>
        <th th:text="${id}">ID</th>
        <th th:text="${name}">Name</th>
        <th>Action</th>
        <th>Action</th>
        <th>Action</th>
    <tr th:each="customer : ${allCustomers}">
        <td th:text="${customer.id}">1</td>
        <td th:text="${customer.name}">John</td>
        <td><a th:href="@{/customers/details/{id}(id=${customer.id})}">Details</a></td>|
         <td><a th:href="@{/customers/{id}/booking/create(id=${customer.id})}">Add Booking</a></td> |
         <td><a th:href="@{/customers/deleteById/{id}(id=${customer.id})}">Delete</a></td>
    </tr>
</table>

<h3>Add New Customer</h3>
<form action="/customers/create" method="post">
    <label>Name:</label><br>
    <input type="text" name="name" required>
    <br><br>
    <label>Telephone:</label><br>
    <input type="text" name="tel" required>
    <br><br>
    <button type="submit">Add Customer</button>
</form>
</body>
</html>